<div>
  <h1>Menu</h1>
  
  <%= link_to 'New menu', new_menu_path, class:"btn btn-secondary" %>
    
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Category</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @menus.each do |m| %>
        <tr>          
          <td><%= m.id %></td>
          <td>
            <% m.categorymenus.each do |c| %>
              <%= c.category.name %><span>,</span>
            <% end %>
          </td>
          <td><%= m.name %></td>
          <td><%= m.price %></td>
          <td><%= m.description %></td>

          
          <td>
            <div>
              <%= link_to "Edit", edit_menu_path(m), class: "btn btn-outline-warning btn-sm" %>
            </div>
            <div>
            <%= button_to "Delete", m, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
            </div>
          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>